<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Compose</title>
    <%- include("partials/header"); -%>
  </head>
  <body>
    <h1>Compose</h1>


      <form class="" action="/compose" method="post">
        <div class="form-group">


        </div>
        <label>Title</label>
        <input type="text" class="form-control" name="postTitle" placeholder=" " autocomplete="off">
        <label>Post</label>
        <textarea name="postBody" class="form-control" rows="5" cols="30"></textarea>
        <button type="submit" name="button">Publish</button>
        </div>
      </form>


  </body>
  <footer><%- include("partials/footer"); -%></footer>
</html>
