<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Compose</title>
    <%- include("partials/header"); -%>
  </head>
  <body>
    <h1>Compose</h1>

    <div class="" id="">
      <input type="textbox">
      <button type="submit" name="button" value="publish">Publish</button>
    </div>

  </body>
  <footer><%- include("partials/footer"); -%></footer>
</html>
