<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <%- include("partials/header"); -%>
  </head>
  <body>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>

  </body>
  <footer><%- include("partials/footer"); -%></footer>
</html>
