<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome To My Blog!</title>
    <%- include("partials/header"); -%>
  </head>
  <body>
    <h1>Home</h1>

    <p> <%= startingContent %> </p>

    <% for(var i=0; posts.length>i; i++){ %>
    <%    console.log(posts[i].title); %>
    <% }; %>


  </body>
  <footer><%- include("partials/footer"); -%></footer>
</html>
