<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome To My Blog!</title>
    <%- include("header"); -%>
  </head>
  <body>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>

  </body>
  <footer><%- include("footer"); -%></footer>
</html>
